<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>To jest demo strony na GitLab</h1>
            <hr>
            <p>This is a demo static website based on GitLab pages. strona oparta jest na the Jekyll Creative theme.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
